<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>	<string>あ</string>
	<key>i</key>	<string>い</string>
	<key>u</key>	<string>う</string>
	<key>e</key>	<string>え</string>
	<key>o</key>	<string>お</string>
	<key>A</key>	<string>ア</string>
	<key>I</key>	<string>イ</string>
	<key>U</key>	<string>ウ</string>
	<key>E</key>	<string>エ</string>
	<key>O</key>	<string>オ</string>
	<key>ka</key>	<string>か</string>
	<key>ki</key>	<string>き</string>
	<key>ku</key>	<string>く</string>
	<key>ke</key>	<string>け</string>
	<key>ko</key>	<string>こ</string>
	<key>KA</key>	<string>カ</string>
	<key>KI</key>	<string>キ</string>
	<key>KU</key>	<string>ク</string>
	<key>KE</key>	<string>ケ</string>
	<key>KO</key>	<string>コ</string>
	<key>kya</key>	<string>きゃ</string>
	<key>kyi</key>	<string>きぃ</string>
	<key>kyu</key>	<string>きゅ</string>
	<key>kye</key>	<string>きぇ</string>
	<key>kyo</key>	<string>きょ</string>
	<key>KYA</key>	<string>キャ</string>
	<key>KYI</key>	<string>キィ</string>
	<key>KYU</key>	<string>キュ</string>
	<key>KYE</key>	<string>キェ</string>
	<key>KYO</key>	<string>キョ</string>
	<key>ga</key>	<string>が</string>
	<key>gi</key>	<string>ぎ</string>
	<key>gu</key>	<string>ぐ</string>
	<key>ge</key>	<string>げ</string>
	<key>go</key>	<string>ご</string>
	<key>GA</key>	<string>ガ</string>
	<key>GI</key>	<string>ギ</string>
	<key>GU</key>	<string>グ</string>
	<key>GE</key>	<string>ゲ</string>
	<key>GO</key>	<string>ゴ</string>
	<key>gya</key>	<string>ぎゃ</string>
	<key>gyi</key>	<string>ぎぃ</string>
	<key>gyu</key>	<string>ぎゅ</string>
	<key>gye</key>	<string>ぎぇ</string>
	<key>gyo</key>	<string>ぎょ</string>
	<key>GYA</key>	<string>ギャ</string>
	<key>GYI</key>	<string>ギィ</string>
	<key>GYU</key>	<string>ギュ</string>
	<key>GYE</key>	<string>ギェ</string>
	<key>GYO</key>	<string>ギョ</string>
	<key>sa</key>	<string>さ</string>
	<key>si</key>	<string>し</string>
	<key>su</key>	<string>す</string>
	<key>se</key>	<string>せ</string>
	<key>so</key>	<string>そ</string>
	<key>SA</key>	<string>サ</string>
	<key>SI</key>	<string>シ</string>
	<key>SU</key>	<string>ス</string>
	<key>SE</key>	<string>セ</string>
	<key>SO</key>	<string>ソ</string>
	<key>za</key>	<string>ざ</string>
	<key>zi</key>	<string>じ</string>
	<key>zu</key>	<string>ず</string>
	<key>ze</key>	<string>ぜ</string>
	<key>zo</key>	<string>ぞ</string>
	<key>ZA</key>	<string>ザ</string>
	<key>ZI</key>	<string>ジ</string>
	<key>ZU</key>	<string>ズ</string>
	<key>ZE</key>	<string>ゼ</string>
	<key>ZO</key>	<string>ゾ</string>
	<key>sya</key>	<string>しゃ</string>
	<key>syi</key>	<string>しぃ</string>
	<key>syu</key>	<string>しゅ</string>
	<key>sye</key>	<string>しぇ</string>
	<key>syo</key>	<string>しょ</string>
	<key>SYA</key>	<string>シャ</string>
	<key>SYI</key>	<string>シィ</string>
	<key>SYU</key>	<string>シュ</string>
	<key>SYE</key>	<string>シェ</string>
	<key>SYO</key>	<string>ショ</string>
	<key>sha</key>	<string>しゃ</string>
	<key>shi</key>	<string>し</string>
	<key>shu</key>	<string>しゅ</string>
	<key>she</key>	<string>しぇ</string>
	<key>sho</key>	<string>しょ</string>
	<key>SHA</key>	<string>シャ</string>
	<key>SHI</key>	<string>シ</string>
	<key>SHU</key>	<string>シュ</string>
	<key>SHE</key>	<string>シェ</string>
	<key>SHO</key>	<string>ショ</string>
	<key>zya</key>	<string>じゃ</string>
	<key>zyi</key>	<string>じ</string>
	<key>zyu</key>	<string>じゅ</string>
	<key>zye</key>	<string>じぇ</string>
	<key>zyo</key>	<string>じょ</string>
	<key>ZYA</key>	<string>ジャ</string>
	<key>ZYI</key>	<string>ジィ</string>
	<key>ZYU</key>	<string>ジュ</string>
	<key>ZYE</key>	<string>ジェ</string>
	<key>ZYO</key>	<string>ジョ</string>
	<key>ja</key>	<string>じゃ</string>
	<key>ji</key>	<string>じ</string>
	<key>ju</key>	<string>じゅ</string>
	<key>je</key>	<string>じぇ</string>
	<key>jo</key>	<string>じょ</string>
	<key>JA</key>	<string>ジャ</string>
	<key>JI</key>	<string>ジ</string>
	<key>JU</key>	<string>ジュ</string>
	<key>JE</key>	<string>ジェ</string>
	<key>JO</key>	<string>ジョ</string>
	<key>jya</key>	<string>じゃ</string>
	<key>jyi</key>	<string>じぃ</string>
	<key>jyu</key>	<string>じゅ</string>
	<key>jye</key>	<string>じぇ</string>
	<key>jyo</key>	<string>じょ</string>
	<key>JYA</key>	<string>ジャ</string>
	<key>JYI</key>	<string>ジィ</string>
	<key>JYU</key>	<string>ジュ</string>
	<key>JYE</key>	<string>ジェ</string>
	<key>JYO</key>	<string>ジョ</string>
	<key>ta</key>	<string>た</string>
	<key>ti</key>	<string>ち</string>
	<key>tu</key>	<string>つ</string>
	<key>tsu</key>	<string>つ</string>
	<key>te</key>	<string>て</string>
	<key>to</key>	<string>と</string>
	<key>TA</key>	<string>タ</string>
	<key>TI</key>	<string>チ</string>
	<key>TU</key>	<string>ツ</string>
	<key>TSU</key>	<string>ツ</string>
	<key>TE</key>	<string>テ</string>
	<key>TO</key>	<string>ト</string>
	<key>da</key>	<string>だ</string>
	<key>di</key>	<string>ぢ</string>
	<key>du</key>	<string>づ</string>
	<key>de</key>	<string>で</string>
	<key>do</key>	<string>ど</string>
	<key>DA</key>	<string>ダ</string>
	<key>DI</key>	<string>ヂ</string>
	<key>DU</key>	<string>ヅ</string>
	<key>DE</key>	<string>デ</string>
	<key>DO</key>	<string>ド</string>
	<key>tha</key>	<string>た゜</string>
	<key>thi</key>	<string>ち゜</string>
	<key>thu</key>	<string>つ゜</string>
	<key>the</key>	<string>て゜</string>
	<key>tho</key>	<string>と゜</string>
	<key>THA</key>	<string>タ゜</string>
	<key>THI</key>	<string>チ゜</string>
	<key>THU</key>	<string>ツ゜</string>
	<key>THE</key>	<string>テ゜</string>
	<key>THO</key>	<string>ト゜</string>
	<key>tya</key>	<string>ちゃ</string>
	<key>tyi</key>	<string>ちぃ</string>
	<key>tyu</key>	<string>ちゅ</string>
	<key>tye</key>	<string>ちぇ</string>
	<key>tyo</key>	<string>ちょ</string>
	<key>TYA</key>	<string>チャ</string>
	<key>TYI</key>	<string>チィ</string>
	<key>TYU</key>	<string>チュ</string>
	<key>TYE</key>	<string>チェ</string>
	<key>TYO</key>	<string>チョ</string>
	<key>cya</key>	<string>ちゃ</string>
	<key>cyi</key>	<string>ちぃ</string>
	<key>cyu</key>	<string>ちゅ</string>
	<key>cye</key>	<string>ちぇ</string>
	<key>cyo</key>	<string>ちょ</string>
	<key>CYA</key>	<string>チャ</string>
	<key>CYI</key>	<string>チィ</string>
	<key>CYU</key>	<string>チュ</string>
	<key>CYE</key>	<string>チェ</string>
	<key>CYO</key>	<string>チョ</string>
	<key>cha</key>	<string>ちゃ</string>
	<key>chi</key>	<string>ち</string>
	<key>chu</key>	<string>ちゅ</string>
	<key>che</key>	<string>ちぇ</string>
	<key>cho</key>	<string>ちょ</string>
	<key>CHA</key>	<string>チャ</string>
	<key>CHI</key>	<string>チ</string>
	<key>CHU</key>	<string>チュ</string>
	<key>CHE</key>	<string>チェ</string>
	<key>CHO</key>	<string>チョ</string>
	<key>na</key>	<string>な</string>
	<key>ni</key>	<string>に</string>
	<key>nu</key>	<string>ぬ</string>
	<key>ne</key>	<string>ね</string>
	<key>no</key>	<string>の</string>
	<key>NA</key>	<string>ナ</string>
	<key>NI</key>	<string>ニ</string>
	<key>NU</key>	<string>ヌ</string>
	<key>NE</key>	<string>ネ</string>
	<key>NO</key>	<string>ノ</string>
	<key>nya</key>	<string>にゃ</string>
	<key>nyi</key>	<string>にぃ</string>
	<key>nyu</key>	<string>にゅ</string>
	<key>nye</key>	<string>にぇ</string>
	<key>nyo</key>	<string>にょ</string>
	<key>NYA</key>	<string>ニャ</string>
	<key>NYI</key>	<string>ニィ</string>
	<key>NYU</key>	<string>ニュ</string>
	<key>NYE</key>	<string>ニェ</string>
	<key>NYO</key>	<string>ニョ</string>
	<key>ha</key>	<string>は</string>
	<key>hi</key>	<string>ひ</string>
	<key>hu</key>	<string>ふ</string>
	<key>he</key>	<string>へ</string>
	<key>ho</key>	<string>ほ</string>
	<key>HA</key>	<string>ハ</string>
	<key>HI</key>	<string>ヒ</string>
	<key>HU</key>	<string>フ</string>
	<key>HE</key>	<string>ヘ</string>
	<key>HO</key>	<string>ホ</string>
	<key>ba</key>	<string>ば</string>
	<key>bi</key>	<string>び</string>
	<key>bu</key>	<string>ぶ</string>
	<key>be</key>	<string>べ</string>
	<key>bo</key>	<string>ぼ</string>
	<key>BA</key>	<string>バ</string>
	<key>BI</key>	<string>ビ</string>
	<key>BU</key>	<string>ブ</string>
	<key>BE</key>	<string>ベ</string>
	<key>BO</key>	<string>ボ</string>
	<key>va</key>	<string>ゔぁ</string>
	<key>vi</key>	<string>ゔぃ</string>
	<key>vu</key>	<string>ゔ</string>
	<key>ve</key>	<string>ゔぇ</string>
	<key>vo</key>	<string>ゔぉ</string>
	<key>VA</key>	<string>ヴァ</string>
	<key>VI</key>	<string>ヴィ</string>
	<key>VU</key>	<string>ヴ</string>
	<key>VE</key>	<string>ヴェ</string>
	<key>VO</key>	<string>ヴォ</string>
	<key>pa</key>	<string>ぱ</string>
	<key>pi</key>	<string>ぴ</string>
	<key>pu</key>	<string>ぷ</string>
	<key>pe</key>	<string>ぺ</string>
	<key>po</key>	<string>ぽ</string>
	<key>PA</key>	<string>パ</string>
	<key>PI</key>	<string>ピ</string>
	<key>PU</key>	<string>プ</string>
	<key>PE</key>	<string>ペ</string>
	<key>PO</key>	<string>ポ</string>
	<key>fa</key>	<string>ふぁ</string>
	<key>fi</key>	<string>ふぃ</string>
	<key>fu</key>	<string>ふ</string>
	<key>fe</key>	<string>ふぇ</string>
	<key>fo</key>	<string>ふぉ</string>
	<key>FA</key>	<string>ファ</string>
	<key>FI</key>	<string>フィ</string>
	<key>FU</key>	<string>フ</string>
	<key>FE</key>	<string>フェ</string>
	<key>FO</key>	<string>フォ</string>
	<key>hya</key>	<string>ひゃ</string>
	<key>hyi</key>	<string>ひぃ</string>
	<key>hyu</key>	<string>ひゅ</string>
	<key>hye</key>	<string>ひぇ</string>
	<key>hyo</key>	<string>ひょ</string>
	<key>HYA</key>	<string>ヒャ</string>
	<key>HYI</key>	<string>ヒィ</string>
	<key>HYU</key>	<string>ヒュ</string>
	<key>HYE</key>	<string>ヒェ</string>
	<key>HYO</key>	<string>ヒョ</string>
	<key>fya</key>	<string>ひゃ</string>
	<key>fyi</key>	<string>ひぃ</string>
	<key>fyu</key>	<string>ひゅ</string>
	<key>fye</key>	<string>ひぇ</string>
	<key>fyo</key>	<string>ひょ</string>
	<key>FYA</key>	<string>ヒャ</string>
	<key>FYI</key>	<string>ヒィ</string>
	<key>FYU</key>	<string>ヒュ</string>
	<key>FYE</key>	<string>ヒェ</string>
	<key>FYO</key>	<string>ヒョ</string>
	<key>bya</key>	<string>びゃ</string>
	<key>byi</key>	<string>びぃ</string>
	<key>byu</key>	<string>びゅ</string>
	<key>bye</key>	<string>びぇ</string>
	<key>byo</key>	<string>びょ</string>
	<key>BYA</key>	<string>ビャ</string>
	<key>BYI</key>	<string>ビィ</string>
	<key>BYU</key>	<string>ビュ</string>
	<key>BYE</key>	<string>ビェ</string>
	<key>BYO</key>	<string>ビョ</string>
	<key>pya</key>	<string>ぴゃ</string>
	<key>pyi</key>	<string>ぴぃ</string>
	<key>pyu</key>	<string>ぴゅ</string>
	<key>pye</key>	<string>ぴぇ</string>
	<key>pyo</key>	<string>ぴょ</string>
	<key>PYA</key>	<string>ピャ</string>
	<key>PYI</key>	<string>ピィ</string>
	<key>PYU</key>	<string>ピュ</string>
	<key>PYE</key>	<string>ピェ</string>
	<key>PYO</key>	<string>ピョ</string>
	<key>ma</key>	<string>ま</string>
	<key>mi</key>	<string>み</string>
	<key>mu</key>	<string>む</string>
	<key>me</key>	<string>め</string>
	<key>mo</key>	<string>も</string>
	<key>MA</key>	<string>マ</string>
	<key>MI</key>	<string>ミ</string>
	<key>MU</key>	<string>ム</string>
	<key>ME</key>	<string>メ</string>
	<key>MO</key>	<string>モ</string>
	<key>mya</key>	<string>みゃ</string>
	<key>myi</key>	<string>みぃ</string>
	<key>myu</key>	<string>みゅ</string>
	<key>mye</key>	<string>みぇ</string>
	<key>myo</key>	<string>みょ</string>
	<key>MYA</key>	<string>ミャ</string>
	<key>MYI</key>	<string>ミィ</string>
	<key>MYU</key>	<string>ミュ</string>
	<key>MYE</key>	<string>ミェ</string>
	<key>MYO</key>	<string>ミョ</string>
	<key>ya</key>	<string>や</string>
	<key>yi</key>	<string>い</string>
	<key>yu</key>	<string>ゆ</string>
	<key>ye</key>	<string>え</string>
	<key>yo</key>	<string>よ</string>
	<key>YA</key>	<string>ヤ</string>
	<key>YI</key>	<string>イ</string>
	<key>YU</key>	<string>ユ</string>
	<key>YE</key>	<string>エ</string>
	<key>YO</key>	<string>ヨ</string>
	<key>ra</key>	<string>ら</string>
	<key>ri</key>	<string>り</string>
	<key>ru</key>	<string>る</string>
	<key>re</key>	<string>れ</string>
	<key>ro</key>	<string>ろ</string>
	<key>RA</key>	<string>ラ</string>
	<key>RI</key>	<string>リ</string>
	<key>RU</key>	<string>ル</string>
	<key>RE</key>	<string>レ</string>
	<key>RO</key>	<string>ロ</string>
	<key>rya</key>	<string>りゃ</string>
	<key>ryi</key>	<string>りぃ</string>
	<key>ryu</key>	<string>りゅ</string>
	<key>rye</key>	<string>りぇ</string>
	<key>ryo</key>	<string>りょ</string>
	<key>RYA</key>	<string>リャ</string>
	<key>RYI</key>	<string>リィ</string>
	<key>RYU</key>	<string>リュ</string>
	<key>RYE</key>	<string>リェ</string>
	<key>RYO</key>	<string>リョ</string>
	<key>wa</key>	<string>わ</string>
	<key>wi</key>	<string>ゐ</string>
	<key>wu</key>	<string>う</string>
	<key>we</key>	<string>ゑ</string>
	<key>wo</key>	<string>を</string>
	<key>WA</key>	<string>ワ</string>
	<key>WI</key>	<string>ヰ</string>
	<key>WU</key>	<string>ウ</string>
	<key>WE</key>	<string>ヱ</string>
	<key>WO</key>	<string>ヲ</string>
	<key>wya</key>	<string>ゐゃ</string>
	<key>wyi</key>	<string>ゐぃ</string>
	<key>wyu</key>	<string>ゐゅ</string>
	<key>wye</key>	<string>ゐぇ</string>
	<key>wyo</key>	<string>ゐょ</string>
	<key>WYA</key>	<string>ヰァ</string>
	<key>WYI</key>	<string>ヰィ</string>
	<key>WYU</key>	<string>ヰゥ</string>
	<key>WYE</key>	<string>ヰェ</string>
	<key>WYO</key>	<string>ヰォ</string>
	<key>nn</key>	<string>ん</string>
	<key>NN</key>	<string>ン</string>
	<key>la</key>	<string>ぁ</string>
	<key>li</key>	<string>ぃ</string>
	<key>lu</key>	<string>ぅ</string>
	<key>le</key>	<string>ぇ</string>
	<key>lo</key>	<string>ぉ</string>
	<key>LA</key>	<string>ァ</string>
	<key>LI</key>	<string>ィ</string>
	<key>LU</key>	<string>ゥ</string>
	<key>LE</key>	<string>ェ</string>
	<key>LO</key>	<string>ォ</string>
	<key>ltu</key>	<string>っ</string>
	<key>LTU</key>	<string>ッ</string>
	<key>lya</key>	<string>ゃ</string>
	<key>lyu</key>	<string>ゅ</string>
	<key>lyo</key>	<string>ょ</string>
	<key>LYA</key>	<string>ャ</string>
	<key>LYU</key>	<string>ュ</string>
	<key>LYO</key>	<string>ョ</string>
	<key>lwa</key>	<string>ゎ</string>
	<key>LWA</key>	<string>ヮ</string>
	<key>xa</key>	<string>ぁ</string>
	<key>xi</key>	<string>ぃ</string>
	<key>xu</key>	<string>ぅ</string>
	<key>xe</key>	<string>ぇ</string>
	<key>xo</key>	<string>ぉ</string>
	<key>XA</key>	<string>ァ</string>
	<key>XI</key>	<string>ィ</string>
	<key>XU</key>	<string>ゥ</string>
	<key>XE</key>	<string>ェ</string>
	<key>XO</key>	<string>ォ</string>
	<key>xtu</key>	<string>っ</string>
	<key>XTU</key>	<string>ッ</string>
	<key>xya</key>	<string>ゃ</string>
	<key>xyu</key>	<string>ゅ</string>
	<key>xyo</key>	<string>ょ</string>
	<key>XYA</key>	<string>ャ</string>
	<key>XYU</key>	<string>ュ</string>
	<key>XYO</key>	<string>ョ</string>
	<key>xwa</key>	<string>ゎ</string>
	<key>XWA</key>	<string>ヮ</string>
	<key>,</key>	<string>、</string>
	<key>.</key>	<string>。</string>
	<key>-</key>	<string>ー</string>
	<key>=</key>	<string>＝</string>
	<key>_</key>	<string>＿</string>
	<key>+</key>	<string>＋</string>
	<key>h,</key>	<string>,</string>
	<key>h.</key>	<string>.</string>
	<key>`</key>	<string>‘</string>
	<key>1</key>	<string>1</string>
	<key>2</key>	<string>2</string>
	<key>3</key>	<string>3</string>
	<key>4</key>	<string>4</string>
	<key>5</key>	<string>5</string>
	<key>6</key>	<string>6</string>
	<key>7</key>	<string>7</string>
	<key>8</key>	<string>8</string>
	<key>9</key>	<string>9</string>
	<key>0</key>	<string>0</string>
	<key>~</key>	<string>〜</string>
	<key>!</key>	<string>！</string>
	<key>@</key>	<string>＠</string>
	<key>#</key>	<string>＃</string>
	<key>$</key>	<string>＄</string>
	<key>%</key>	<string>％</string>
	<key>^</key>	<string>＾</string>
	<key>&amp;</key>	<string>＆</string>
	<key>*</key>	<string>＊</string>
	<key>(</key>	<string>（</string>
	<key>)</key>	<string>）</string>
	<key>[</key>	<string>「</string>
	<key>]</key>	<string>」</string>
	<key>\</key>	<string>￥</string>
	<key>;</key>	<string>；</string>
	<key>&apos;</key>	<string>′</string>
	<key>/</key>	<string>・</string>
	<key>{</key>	<string>『</string>
	<key>}</key>	<string>』</string>
	<key>|</key>	<string>｜</string>
	<key>:</key>	<string>：</string>
	<key>&quot;</key>	<string>″</string>
	<key>&lt;</key>	<string>＜</string>
	<key>&gt;</key>	<string>＞</string>
	<key>?</key>	<string>？</string>
	<key>z`</key>	<string>‘</string>
	<key>z1</key>	<string>１</string>
	<key>z2</key>	<string>２</string>
	<key>z3</key>	<string>３</string>
	<key>z4</key>	<string>４</string>
	<key>z5</key>	<string>５</string>
	<key>z6</key>	<string>６</string>
	<key>z7</key>	<string>７</string>
	<key>z8</key>	<string>８</string>
	<key>z9</key>	<string>９</string>
	<key>z0</key>	<string>０</string>
	<key>z-</key>	<string>ー</string>
	<key>z=</key>	<string>＝</string>
	<key>z~</key>	<string>〜</string>
	<key>z!</key>	<string>！</string>
	<key>z@</key>	<string>＠</string>
	<key>z#</key>	<string>＃</string>
	<key>z$</key>	<string>＄</string>
	<key>z%</key>	<string>％</string>
	<key>z^</key>	<string>＾</string>
	<key>z&amp;</key>	<string>＆</string>
	<key>z*</key>	<string>＊</string>
	<key>z(</key>	<string>（</string>
	<key>z)</key>	<string>）</string>
	<key>z_</key>	<string>＿</string>
	<key>z+</key>	<string>＋</string>
	<key>z[</key>	<string>「</string>
	<key>z]</key>	<string>」</string>
	<key>z\</key>	<string>￥</string>
	<key>z;</key>	<string>；</string>
	<key>z&apos;</key>	<string>′</string>
	<key>z,</key>	<string>、</string>
	<key>z.</key>	<string>。</string>
	<key>z/</key>	<string>・</string>
	<key>z{</key>	<string>｛</string>
	<key>z}</key>	<string>｝</string>
	<key>z|</key>	<string>｜</string>
	<key>z:</key>	<string>：</string>
	<key>z&quot;</key>	<string>″</string>
	<key>z&lt;</key>	<string>＜</string>
	<key>z&gt;</key>	<string>＞</string>
	<key>z?</key>	<string>？</string>
</dict>
</plist>
