<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>,</key>
	<true/>
	<key>.</key>
	<true/>
	<key>=</key>
	<true/>
	<key>_</key>
	<true/>
	<key>+</key>
	<true/>
	<key>`</key>
	<true/>
	<key>1</key>
	<true/>
	<key>2</key>
	<true/>
	<key>3</key>
	<true/>
	<key>4</key>
	<true/>
	<key>5</key>
	<true/>
	<key>6</key>
	<true/>
	<key>7</key>
	<true/>
	<key>8</key>
	<true/>
	<key>9</key>
	<true/>
	<key>0</key>
	<true/>
	<key>~</key>
	<true/>
	<key>!</key>
	<true/>
	<key>@</key>
	<true/>
	<key>#</key>
	<true/>
	<key>$</key>
	<true/>
	<key>%</key>
	<true/>
	<key>^</key>
	<true/>
	<key>&amp;</key>
	<true/>
	<key>*</key>
	<true/>
	<key>(</key>
	<true/>
	<key>)</key>
	<true/>
	<key>[</key>
	<true/>
	<key>]</key>
	<true/>
	<key>\</key>
	<true/>
	<key>;</key>
	<true/>
	<key>&apos;</key>
	<true/>
	<key>/</key>
	<true/>
	<key>{</key>
	<true/>
	<key>}</key>
	<true/>
	<key>|</key>
	<true/>
	<key>:</key>
	<true/>
	<key>&quot;</key>
	<true/>
	<key>&lt;</key>
	<true/>
	<key>&gt;</key>
	<true/>
	<key>?</key>
	<true/>
</dict>
</plist>
